body
{
  background-color:green;
  margin:0; padding: 0;
  width: 100vw;
  height:auto;
  font-size:16px;
}

#wrapper > h2{
font-size:100px;
text-align: center;
}

b{
font-size: 2em;
}

div{
font-size: 3em;
}
#wrapper
{
display:grid;
grid-template-columns: repeat(6, 1fr);
background-color:orange;
padding: 10px;
}

header{
display:grid;
grid-template-columns: repeat(6, 1fr);
grid-gap:10%;
}

#grid0
{
grid-column: 1/3;
background-color:red;
font-size:100px;
}

#grid1
{
grid-column:3/5;
background-color:white;
}

#grid2
{
grid-column:5/7;
background-color:blue;
}

#grid3
{
grid-column: 2/6;
}

input[type="button"]
{
border-radius: 50px;
width:inherit;grid-column:2/6;
width:100%;
height:100px;
}
